// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";

      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }

      .subject-input {
        grid-area: subject;
      }

      .email-input {
        grid-area: email;
      }

      .phone-input {
        grid-area: phone;
      }

      .message-input {
        grid-area: message;
        height: 100px;
        resize: none;
      }

      .text-input,
      .message-input {
        padding: 0.5rem 1rem;
      }

      .text-input::placeholder,
      .message-input::placeholder {
        font-family: "Dosis", sans-serif;
      }
    }

    .wrap-recaptcha {
      text-align: center;
    }

    .g-recaptcha {
      display: inline-block;
      max-width: 305px;
    }

    button[type="submit"] {
      width: 50%;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
}
