body {
  margin: 0;
  padding: 0;
}

#main {
  background: #fff;
  width: 100%;
  height: 100%;
  // padding-top: 50px;
}
#content {
  width: 120vh;
  height: 88vh;
  margin: 0px auto;
  border-radius: 3px;
}

#gallery_img {
  width: 120vh;
  height: 71vh;
  float: left;
  position: relative;
}
#lefty {
  width: 23px;
  position: absolute;
  top: 50%;
  left: 10px;
}

#righty {
  width: 23px;
  position: absolute;
  top: 50%;
  right: 10px;
}

#play,
#pause {
  display: none;
  width: 12px;
  position: absolute;
  top: 239px;
  right: 40px;
}

// #play {
//   display: none;
// }

#expand {
  width: 18px;
  position: absolute;
  bottom: 6px;
  right: 6px;
}

#thumbs {
  height: 14.2vh;
  width: 120vh;
  float: left;
  overflow: auto;
  margin-top: 15px;
  white-space: nowrap;
}

.thumbs_style {
  display: inline-block;
}

.thumbs_style img {
  width: 13vh;
  height: 11vh;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.gallery_img_style {
  width: 120vh;
  height: 71vh;
  border-radius: 3px;
  position: absolute;
}
